SALES_DB_HOST=localhost
SALES_DB_PORT=5434
SALES_DB_NAME=sales_db
SALES_DB_USER=admin
SALES_DB_PASSWORD=admin

FERNET_KEY=change_me
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

AIRFLOW_CONN_SALES_DB=postgres://admin:admin@sales-db:5432/sales_db